<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="mt-5 row-login">

        <form th:object="${user}" class="" th:action="@{/usuario/login}" method="post">
          <div class="form-group text-center">
            <h2>Iniciar Sesión</h2>
          </div>
          <div>
            <a href="/">
              <img class="img-responsive img-login" src="../static/images/logo.png" th:src="@{/images/logo.png}" />
            </a>
          </div>

          <div class="input-group mb-3 mt-4">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
            <input type="text" th:field="*{userID}" class="form-control" placeholder="Ingrese su usuario"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text"><i class="fas fa-lock"></i></span>
            <input type="password" th:field="*{password}" class="form-control" placeholder="Ingrese su contraseña"
              aria-label="Username" aria-describedby="basic-addon1">
          </div>

          <div class="form-group mt-2">
            <div class="d-grid gap-2">
              <button th:with="text='Iniciar Sesión'" class="btn btn-primary" type="submit" th:text="${text}" />
            </div>
          </div>
          <div class="mt-4 text-center">
            <a href="/cliente/create">Crear cuenta con Store Gamers</a>
          </div>

          <div class="mt-2" th:if="${mensaje != null}">
            <div class="alert alert-warning" th:text="${mensaje}"></div>
          </div>
          <div th:unless="${mensaje != null}"></div>

        </form>

      </div>

    </div>

  </div>

  <!-- <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script> -->

</body>

</html>