<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

    <div class="container">
        <div class="row">
          <div class="col-lg-10 mt-5 mb-5">
            <br/>
            <h2>Carrito</h2><br/>
            <table id="example" class="table table-bordered table-responsive" style="width: 100%">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>#</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="proforma : ${proformas}">
                  <td th:text="${proforma.product.id}"></td>
                  <td th:text="${proforma.product.descripcion}"></td>
                  <td th:text="${proforma.precio}"></td>
                  <td>
                    <input type="number" class="form-control" id="cantidad" 
                      autocomplete="off" th:value="${proforma.cantidad}"
                      min="1" max="100"/>
                  </td>
                  <td>
                    <a href="#" class="btn btn-primary">Update</a>
                  </td>              
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    
    
    </body>
    
    </html>