<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

  <div class="container">

    <div class="row">
      <div class="mt-5 row-login">



        <form th:object="${client}" class="form-create" th:action="@{/cliente/create}" method="post">
          <div class="form-group row mt-2">
            <div class="d-flex justify-content-end iclose">
              <a href="/">
                <i class="fas fa-times-circle"></i>
              </a>
            </div>

            <h1>Crear cuenta</h1>
          </div>
          <p>Completa los datos para crear tu cuenta</p>
          <div class="form-group row mt-2">
            <div class="">
              <label for="name">Nombre</label>
            </div>
            <div class="">
              <input class="form-control" type="text" th:field="*{name}" />
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="">
              <label for="email">Correo</label>
            </div>
            <div class="">
              <input class="form-control" type="text" th:field="*{email}" />
            </div>
          </div>

          <div class="form-group row mt-2">
            <div class="">
              <label for="user.userID">Usuario</label>
            </div>
            <div class="">
              <input class="form-control" type="text" th:field="*{user.userID}" />
            </div>
          </div>
          <div class="form-group row mt-2">
            <div class="">
              <label for="user.password">Contraseña</label>
            </div>
            <div class="">
              <input class="form-control" type="password" th:field="*{user.password}" />
            </div>
          </div>

          <div class="form-group row mt-4">
            <div class="d-grid gap-2">
              <button class="btn btn-primary" th:with="text='Crear cuenta'" type="submit" th:text="${text}" />
            </div>
          </div>
          <div class="mt-5 text-center">
            <a href="/usuario/login">Ya tengo una cuenta</a>
          </div>

        </form>

        <p th:text="${mensaje}" />

      </div>
    </div>
  </div>



  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>

</html>