<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap-jsf.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css} " />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.css}" />
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.standalone.css}" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link th:rel="stylesheet" th:href="@{/css/style.css}">
  <link th:rel="stylesheet" th:href="@{/webjars/sweetalert2/dist/sweetalert2.min.css}">

</head>

<body>

  <div class="store-menu ">
    <div class="navbar-container">
      <div class="store-menu-top">
        <div class="store-menu-logo">

          <i class="fas fa-bars" id="btnMenu" name="menu"></i>
          <h4><a href="/">Store Gamers</a></h4>

        </div>
        <div class="store-menu-car">
          <a href="/proforma/index"><i class="fas fa-shopping-cart"></i><span class="badge"
              th:text="${proforma}">0</span></a>
        </div>
      </div>

      <div class="menu hide" id="menu">

        <div class="box-close">
          <i class="fas fa-times-circle icon-close" id="btnClose"></i>
        </div>


        <div th:if="${user != null}">

          <div th:if="${perfil != null}">

            <div class="menu-user menu-user-login" th:object="${user}">
              <i class="fas fa-user-circle icon-user "></i>
              <div class="d-flex align-item-center flex-column">
                <h3 class="ms-3">Hola <span th:text="*{userID}"></span></h3>
                <span class="text-muted ms-3" style="font-size: 13px;" th:text="${perfil.description}"></span>
              </div>
            </div>

            <div class="menu-options" th:object="${perfil}">

              <!-- **** Es cliente ***** -->

              <a href="/orden/index" th:if="*{id == 1}">
                <i class="fas fa-shopping-bag"></i> Mis ordenes
              </a>
              <a href="/usuario/datospersonales" th:if="*{id == 1}">
                <i class="fas fa-address-card"></i> Datos personales
              </a>
              <a href="/usuario/cambiocontrasenia" th:if="*{id == 1}">
                <i class="fas fa-lock"></i> Cambiar contraseña
              </a>
              <a href="/usuario/logout" th:if="*{id == 1}">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
              </a>

              <!-- **** Es Administrador ***** -->

              <a href="/admin/index" th:if="*{id == 2}">
                <i class="fas fa-shopping-bag"></i> Panel Administrador
              </a>
              <a href="" th:if="*{id == 2}">
                <i class="fas fa-address-card"></i> Datos personales
              </a>
              <a href="/usuario/cambiocontrasenia" th:if="*{id == 2}">
                <i class="fas fa-lock"></i> Cambiar contraseña
              </a>
              <a href="/usuario/logout" th:if="*{id == 2}">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
              </a>
              <!-- <button id="btnPrueba">mensaje</button> -->
            </div>
          </div>
          <div th:unless="${perfil != null}"></div>


        </div>
        <div th:unless="${user != null}">
          <div class="menu-user menu-user-logout">
            <i class="fas fa-user-circle icon-user mb-5"></i>
            <a class="btn btn-outline-primary" href="/usuario/login">Iniciar Sesión</a>
          </div>

        </div>

      </div>

    </div>
    <div class="bg-overlay hide" id="bg-overlay"></div>
  </div>

  <th:block th:include="${template}" />


  <div class="footer">
    <div class="text-center">
      Copyright @ 2021 StoreGamers
    </div>
  </div>

  <script th:src="@{/webjars/sweetalert2/dist/sweetalert2.min.js}"></script>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
  <script th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{/webjars/jquery.inputmask/jquery.inputmask.min.js}"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script th:src="@{/js/home/home.js}"></script>

  <script>
    // const btnPrueba = document.getElementById("btnPrueba");
    // btnPrueba.addEventListener("click", () => {
    //   Swal.fire({
    //     position: 'top-end',
    //     icon: 'success',
    //     title: 'Se grabó correctamente',
    //     showConfirmButton: false,
    //     timer: 1500
    //   });
    // });
  </script>

</body>

</html>