<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
  <div class="container-fluid container-main">
    <div class="container xd-container">

      <!--Contendio-->

      <h3 class="text-subtitle mt-3">Editar Producto</h3>

      <form th:object="${product}" class="form-create" th:action="@{/producto/update}" method="post">

        <div class="panel">

          <a href="/producto/index"><i class="fas fa-arrow-circle-left"></i></a>
          <div class="row">
            <div class="col-sm-12 col-md-5">
              <div class="mb-3 row">
                <div class="col-md-12">
                  <div class="text-center d-flex justify-content-center">
                    <img class="img-responsive img-product" src="../static/images/logo.png" th:src="*{image_url}" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-7">
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label for="txtName" class="form-label">Nombre del producto</label>
                  <input type="text" class="form-control" id="txtName" placeholder="Nombre del producto"
                    th:value="*{name}" th:field="*{name}">
                </div>
              </div>

              <div class="mb-3 row">
                <div class="col-6">
                  <label for="txtPrice" class="form-label">Precio</label>
                  <input type="text" class="form-control" id="txtPrice" placeholder="0.00" th:value="*{price}"
                    th:field="*{price}">
                </div>
                <div class="col-6">
                  <label for="txtStock" class="form-label">Stock</label>
                  <input type="text" class="form-control" id="txtStock" placeholder="0" th:value="*{stock}"
                    th:field="*{stock}">
                </div>
              </div>

              <div class="mb-3 row">
                <div class="col-md-12">
                  <label for="txtDescription" class="form-label">Descripción</label>
                  <textarea name="" id="txtDescription" cols="30" rows="6" placeholder="Describe el producto"
                    th:text="*{description}" class="form-control" th:field="*{description}"></textarea>
                </div>
              </div>

              <div class="mb-3 row">
                <div class="col-12 col-sm-6">
                  <label for="txtCategory" class="form-label">Categoría</label>
                  <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="btnAddCategory" id="txtCategory">
                    <button class="btn btn-outline-secondary" type="button" id="btnAddCategory" data-bs-toggle="modal"
                      data-bs-target="#modalCategory">Agregar</button>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <label for="txtBrand" class="form-label">Marca</label>
                  <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="btnAddBrand" id="txtBrand">
                    <button class="btn btn-outline-secondary" type="button" id="btnAddBrand" data-bs-toggle="modal"
                      data-bs-target="#modalBrand">Agregar</button>
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <label for="formFile" class="form-label">Seleccione la imágen</label>
                <input class="form-control" type="file" id="formFile">
              </div>

              <div class="mb-3 row">
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>

            </div>
          </div>
        </div>

        <input class="hiden" th:field="*{id}"></input>
        <input class="hiden" th:field="*{status}"></input>
        <input class="hiden" th:field="*{image_url}"></input>

      </form>





    </div>

  </div>
  </div>


  <!-- Modal Brand-->
  <div class="modal fade" id="modalBrand" tabindex="-1" aria-labelledby="modalBrand" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalBrand">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Category-->
  <div class="modal fade" id="modalCategory" tabindex="-1" aria-labelledby="modalCategory" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalCategory">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</body>

</html>