<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
  <div class="container-fluid container-main">

    <div class="container xd-container">

      <div class="mt-3 mb-2">
        <h4 class="text-subtitle">Producto</h4>
      </div>

      <div class="container">

        <div class="input-text-search">
          <i class="fas fa-search"></i>
          <input type="text" placeholder="Ingrese el producto a buscar" />
        </div>

        <div class="mt-2 d-flex align-items-center justify-content-center">
          <a href="/producto/create" class="btn btn-primary">Nuevo</a>
        </div>

        <div class="container-productos mt-3">

          <div th:each="producto:${productos}" class="card-product">

            <div class="mb-2 d-flex align-items-center justify-content-around">
              <div><a th:href="@{'/producto/edit/__${producto.id}__'}" class="btn btn-outline-dark btn-sm"><i
                    class="fas fa-pen"></i></a></div>
              <div><a th:href="@{'/producto/delete/__${producto.id}__'}" class="btn btn-outline-dark btn-sm"><i
                    class="fas fa-trash-alt"></i></a></div>
            </div>
            <div class="card-image">
              <img class="img-responsive" src="../static/images/logo.png" th:src="${producto.image_url}" />
            </div>

            <div class="card-product-body">
              <div th:text="${producto.name}" class="card-text"></div>
              <!-- <div class="card-action">
                <span th:text="${producto.MonedaPrice}"></span>
              </div> -->
            </div>



          </div>


        </div>
      </div>


    </div>
  </div>


  <div id="msj" class="hide" th:text="${mensaje}"></div>

  <script th:src="@{/webjars/sweetalert2/dist/sweetalert2.min.js}"></script>
  <script>

    const msj = document.getElementById("msj").innerHTML;

    if (msj != "") {

      Swal.fire({
        position: 'top-end',
        icon: 'success',
        title: msj,
        showConfirmButton: false,
        timer: 1500
      });

    }


  </script>

</body>

</html>