<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>
    <div class="container-fluid container-main">
   
        <div class="container xd-container">
          <br>
          <h1>Mis ordenes</h1>
    
          <div class="container" style="padding-top: 40px;">
    
            <div class="row">
                <div class="col-12 col-md-7 col-lg-8">
                    <div class="container-fluid">
    
                        <h5 class="poppins-regular font-weight-bold full-box text-center"></h5>
                        <div class="bag-item full-box">
                            <figure class="full-box">
                              <div class="">
                               
                                  <img class="img-fluid" src="../static/images/mando.png" th:src="@{/images/mando.png}" width="500" height="200"/>
                                </div>
    
    </div>

    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Detalle de la Orden
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body" th:text="*{description}"></div>
          <ol>
            <li>Número de orden: </li>
            <li>5208626733</li>
          </ol>


        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Detalle de la Orden
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">

            <ol>
              <li>Número de orden: </li>
              <li>5200305122</li>

            </ol>

          </div>
        </div>
      </div>
    </div>



  </div>
</div>
</body>

</html>